.list-item {
  list-style-type: none;
  width: inherit;
  padding: 30px;
}
.title-date {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: large;
}
p {
  font-size: small;
  color: gray;
}
